header{
	background-color:rgb(25, 79, 139);
	text-align:center;
	padding:5px 0px 5px 0px;
	color:white
}
footer{
	background-color:rgb(25, 79, 139);
	text-align:center;
	padding:1px 0px 1px 0px;
	color:white
}
p{
	text-align:center;
}

